body{
    background-color: white;
    color:grey;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    
}

header{
    background-image: linear-gradient(to right, rgb(19, 23, 255) , rgb(19, 104, 255));
}

.image1{
    color:aliceblue;
    
}

a{
    text-decoration: none;
}
  
svg{
    fill:aliceblue !important;
}

.smallMenu{
    color:black !important;
}

h4{
    color:azure;
    background-color: rgb(19, 104, 255);
}

.square{
    
    background-color:rgb(19, 104, 255);
    height: 5px;
    width: 5px;
    position: relative;
    top: 15px;
}

.flash{
    border-bottom: 1px dashed lightgrey;
    
}

